<%- include('./includes/head.ejs') %>
</head>

<body>
    <%- include('./includes/nav.ejs') %>
    <main class="centered">
            <h3 style="text-align: center; font-family: 'roboto';"><%= product.title %></h3>
            <hr>
            <div>
                <img class="col-md-4 m-auto " src="<%= product.imgURL  %>" alt="<%= product.title %>">
            </div>
            <h1 style="text-align: center; font-family: 'roboto';"><%= product.price %></h1>
            <p style="text-align: center; font-family: 'roboto';"><%= product.description %></p>
                

    </main>
    <%- include('./includes/end.ejs') %>