<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>asd</title>
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
</head>

<body>


  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('/images/wel1.jpg')">
          <%- include('./includes/nav.ejs') %>
          <div class="carousel-caption d-none d-md-block caption">
            <h2 class="display-4">Welcome to Paperback</h2>
            <p class="lead">Where you can share your books...</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/images/slider2.jpg')">
          <%- include('./includes/nav.ejs') %>
          <div class="carousel-caption d-none d-md-block caption">
            <h2 class="display-4">Collaborate with your mates</h2>
            <p class="lead">Sharing lecture materials with campus mates have never been so easy</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/images/slider3.jpg')">
          <%- include('./includes/nav.ejs') %>
          <div class="carousel-caption d-none d-md-block caption">
            <h2 class="display-4">Easily reach to the lecture material</h2>
            <p class="lead">Here... you will easily find your desired books in
              cheaper rate</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h1 class="display-4"> </h1>
      <p class="lead"> </p>
    </div>
  </section> 


  <main>
    <% if (prods.length > 0) { %>
    <div class="row mx-auto" style="margin-top:5%;height: 85%; width: 85%;">
      <% for (let product of prods) { %>
      <article class="col-3 mx-auto" style="font-family: 'Open Sans Condensed', sans-serif;">
        <header class="card__header my-4" style="text-align: center;">
          <h5 class="product__title" style="text-align: center; font-size: 26px;"><%= product.title %></h5>
        </header>
        <div class="card__image">
          <img style="width: 100%;" src="<%= product.imgURL %>" alt="<%= product.title %>">
        </div>
        <div class="card__content" style="text-align: center;">
          <h5 style="padding-top: 5%;"><%= product.price %> BDT</h5>
          <p class="product__description" style="font-size: 16px;"><%= product.des %></p>
          <div class=" card__actions">
            <% id = product._id.toString() %>
            <a href="/books/<%= id %>" class="btn btn-info""> Details</a>

          </div>
        </div>
      </article>
      <% } %>  
    </div>
    <% } else { %>
    <h1>No Products Found!</h1>
    <% } %>

  </main>   
  <script src=" /js/main.js"></script>
</body>

</html>