<%- include('./includes/head.ejs') %>


</head>

<body>
  <%- include('./includes/nav.ejs') %>

  <main>
    <div class="row">
      <div class="col-3 ml-5">
        <div class="card" style="height: 550px;margin-bottom: 30%;">
          <h4 class="card-header m-auto"><%= rName %></h4>

          <img class="m-auto" style="height: 350px; width: 80%; display: block;"
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.shareicon.net%2Fdata%2F2016%2F07%2F26%2F801997_user_512x512.png&f=1&nofb=1"
            alt="Card image">
          <div class="card-body m-auto">
            <!-- <h5 class="card-title" style="margin-left: 3px;">Student</h5> -->
            
            <h6 class="card-subtitle" style="margin-bottom: 10px;"><%=rUserID%></h6>
            <h6 class="card-subtitle " style="margin-bottom: 30px;"><%=rdeptid%></h6>
          </div>

          
          <!-- <div class="card-body">++
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div> -->
          <div class="card-footer text-muted m-auto">
            active now
          </div>
        </div>
      </div>

      <div class="col-8">
        <% if (prods.length > 0) { %>
        <div class="row" style="margin: 2%;">
          <% for (let product of prods) { 
        if (product.userID == rUserID) {%>
          <article class="col-4 m-auto " style="margin-left: 10px;">

            <header class="card__header" style="text-align: center; margin-top: 3%;">
              <h5 class="product__title" style="text-align: center;"><%= product.title %></h5>
            </header>

            <div class=" card__image">
              <img style="width: 100%;height: 450px;display: block;" src="<%= product.imgURL %>"
                alt="<%= product.title %>">
            </div>

            <div class="card__content">
              <h5 style="text-align: center; padding-top: 5px;"><%= product.price %> BDT</h5>
              <p class="product__description"><%= product.des %></p>
            </div>

            <div class="card__actions m-auto">
              <a href="/products/<%= product.userID %> " class="btn btn-outline-success"">Edit Book</a>
              <a href=" #" class="btn btn-outline-danger"">Delete</a>
        </div>

        </article>
        <% } } %>
      </div>
      <% } else { %>
      <h3 style=" text-align: center; margin: 10px 70px; font-family: 'Roboto' ;">No Products Found!</h3>
                <% } %>
            </div>
        </div>

  </main>
  <%- include('./includes/end.ejs') %>